parameters:
  ignoreErrors:
    -
      message: "#^Return type \\(Webgriffe\\\\InMemoryRepository\\\\ObjectCollection\\<TKey of \\(int\\|string\\), T of object\\>\\) of method Webgriffe\\\\InMemoryRepository\\\\ObjectRepository\\:\\:findAll\\(\\) should be compatible with return type \\(array\\<object\\>\\) of method Doctrine\\\\Persistence\\\\ObjectRepository\\<T of object\\>\\:\\:findAll\\(\\)$#"
      count: 1
      path: src/ObjectRepository.php

    -
      message: "#^Return type \\(Webgriffe\\\\InMemoryRepository\\\\ObjectCollection\\<TKey of \\(int\\|string\\), T of object\\>\\) of method Webgriffe\\\\InMemoryRepository\\\\ObjectRepository\\:\\:findBy\\(\\) should be compatible with return type \\(array\\<object\\>\\) of method Doctrine\\\\Persistence\\\\ObjectRepository\\<T of object\\>\\:\\:findBy\\(\\)$#"
      count: 1
      path: src/ObjectRepository.php

